* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
/* Background Styling */
.main {
  height: 100%;
  width: 100%;
  /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../images/bg-img.jpeg'); */
  background-position: fill;
  background-size: auto;
  position: absolute;
}

/* Row and Column and Container Styling start */
.row {
  margin: 5% 2%;
}
.column {
  position: relative;
  float: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  border-radius: 2%;
  background-color: #a9a9a9;
  padding: 5%;
  width: auto;
  overflow: scroll;
  height: auto;
}
/* Row and Column and Container Styling Ends  */

/* Alert Message  */
.alertMsg {
  display: none;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 1%;
  left: 31%;
  height: 2em;
  width: 38%;
  text-justify: auto;
  text-align: center;
  color: black;
  z-index: 999;
}

/* Form Input Field */
.form-input-field {
  width: 100%;
  padding: 4%;
  font-size: 100%;
  border: 2% solid #ccc;
  border-radius: 2%;
  box-sizing: border-box;
  margin-top: 4%;
  margin-bottom: 8%;
  resize: vertical;
}

/* Buttons Styling Start */
.submit-btn {
  color: white;
  font-size: 100%;
  padding: 4% 3%;
  border: none;
  border-radius: 9%;
  cursor: pointer;
  background-color: Black;
  width: auto;
  color: #ffffff;
}
.view-btn {
  color: white;
  font-size: 20px;
  padding: 4% 3%;
  border: none;
  width: auto;
  border-radius: 9%;
  font-size: 100%;
  cursor: pointer;
  background-color: black;
  color: #ffffff;
}
input[type="button"]:hover {
  background-color: #505050;
}

input[type="submit"]:hover {
  background-color: #505050;
}
/* Buttons Styling End */

/* Table Styling Start */
.content-table {
  border-collapse: collapse;
  border: 1px;
  margin: 8% auto;
  font-size: 100%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
}
.content-table th {
  color: white;
  padding: 2%;
  border-radius: 9%;
  background-color: black;
  color: #ffffff;
}
.content-table tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  border-radius: 5% 5% 0 0;
}
.content-table td {
  padding: 4% 3%;
  text-align: justify;
}
.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: black;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}
.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/* Table Styling Ends */
